

.top-div{
  display:flex; 
}

.fake-button:nth-child(1) {
  background-color: green;
  border-top-left-radius:2rem;
  border-bottom-left-radius:2rem;
}


.fake-button:last-child{
  background-color: red;
}


.fake-button:nth-child(even){
  background-color: blue;
}


.green-bacgound{
  background-color: aquamarine;
}

.fake-button{

  border: black;
  border-style: solid;
  border-width: thin;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: lightgrey;
  width: 40rem;
  border-top-right-radius:2rem;
  border-bottom-right-radius:2rem;   

}


.fake-button:hover{ 
  padding: 0.75rem;
  color: blue;
  cursor: pointer;
}

/* .one{
background-color: green;
border-top-left-radius:2rem;
border-bottom-left-radius:2rem;



}
#five{
background-color: red;

} */

*:before, *:after {
  box-sizing: border-box;}

  